[Unit]
Description=SpotiFLAC Telegram Lossless Music Downloader Bot
After=network.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=/home/paisen/Projects/spotiflac-bot
EnvironmentFile=/home/paisen/Projects/spotiflac-bot/.env
ExecStart=/usr/bin/env uv run python -m spotiflac_bot
Restart=always
RestartSec=5

# Hardening / Isolation
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
